@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:
  local('Roboto Light'),
  local('Roboto-Light'),
    /* from  */
  url('/fonts/Roboto_300.eot?#iefix') format('embedded-opentype'),
    /* from http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff */
  url('/fonts/Roboto_300.woff') format('woff'),
    /* from http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfaCWcynf_cDxXwCLxiixG1c.ttf */
  url('/fonts/Roboto_300.ttf') format('truetype'),
    /* from http://fonts.gstatic.com/l/font?kit=Hgo13k-tfSpn0qi1SFdUfZbd9NUM7myrQQz30yPaGQ4#Roboto */
  url('/fonts/Roboto_300.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
  local('Roboto'),
  local('Roboto-Regular'),
    /* from  */
  url('/fonts/Roboto_400.eot?#iefix') format('embedded-opentype'),
    /* from http://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff */
  url('/fonts/Roboto_400.woff') format('woff'),
    /* from http://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf */
  url('/fonts/Roboto_400.ttf') format('truetype'),
    /* from http://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg#Roboto */
  url('/fonts/Roboto_400.svg#Roboto') format('svg');
}