.shadow-z1 {
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.panel {
	width: 100%;
	height: 3em;
	position: relative;
	color: #FFFFFF;
	background-color: $color_highlight;
	z-index: 1;

	.panel-brand {
		font-size: 1.3em;
		float: left;
		margin-bottom: 0;
		padding: 0.62em 0 0 1.24em
	}

	.panel-options {
		float: right;
		height: 100%;
	}

	.panel-button {
		float: left;
		height: 100%;
		padding: 0 2em;
		transition: background-color $animation_duration;

		&:hover {
			background-color: lighten($color_highlight, 5%);
		}
	}
}

.input-group {
	margin: 3em 2em;
	position: relative;

	label {
		color: $color_input;
		font-weight:normal;
		position:absolute;
		pointer-events:none;
		top: 0.8em;
		left: 0;
		transition:0.2s ease all;
		transform-origin:left;
	}

	input {
		display: block;
		width: 100%;
		padding: 0.5em 0;
		border-bottom:1px solid $color_input;

		&:-webkit-autofill {
			-webkit-box-shadow: 0 0 0px 1000px white inset;
		}
	}

	input:focus ~ label, input:valid ~ label {
		top: -1.2em;
		transform: scale(0.8);
	}

	input:focus ~ label {
		color:$color_highlight;
	}

	input:focus ~ .bar:before, input:focus ~ .bar:after {
		width:50%;
	}
	input:focus  {
		outline: none;
		border-color: $color_highlight;
	}

	.bar 	{ position:relative; display:block; width:100%; }
	.bar:before, .bar:after 	{
		content:'';
		height:2px;
		width:0;
		bottom:1px;
		position:absolute;
		background: $color_highlight;
		transition:0.2s ease all;
	}
	.bar:before {
		left:50%;
	}
	.bar:after {
		right:50%;
	}

}

.input-group:last-of-type {
	margin-bottom: 0;
}

.button {
	border: 0.2em;
	position: relative;
	color: $color_highlight;
	text-transform: uppercase;
	margin: 1.3em 1em;
	padding: 0.7em 1em;
	background-color: inherit;
}