// break points for different screen sizes
$breakpoint_medium: 40em;
$breakpoint_large: 60em;

// project colors
$color_highlight: pink;
$color_light: #FFFFFF;
$color_dark: #000000;

$color_error: red;
$color_success: green;

// misc
$animation_duration: 0.2s;

// clear fix
.group:after {
	content: "";
	display: table;
	clear: both;
}