.form {
    width: 80%;
    background-color: #ffffff;
    padding: 1.5em;
    margin: auto;
}

.form__heading {
    font-size: 1.6em;
    color: $color_highlight;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0.625em;
}