.login {
    width: 24em;
    background-color: #ffffff;
    padding: 1.5em;
}

.login__heading {
    font-size: 1.6em;
    color: $color_highlight;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0.625em;
}